<footer>
    <div class="img">
        <img src="ლოგო ფონით.jpg" alt="">
    </div>
    <div class="navigation">
    <ul>
        <li routerLink="/">Home</li>
        <li routerLink="/Rooms">Rooms</li>
        <li routerLink="/Kitchen">Kitchen</li>
        <li routerLink="/About">About</li>
    </ul>
    </div>

<div class="contacts">
    <ul>
<li><a href="https://www.instagram.com/hotelavlabari/" target="_blank"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
<li><i class="fa-brands fa-whatsapp"> </i> +995 593747277</li>
<li><i class="fa-brands fa-whatsapp"> </i> +995 556248009</li>
<li><i class="fa-solid fa-envelope"></i> Gmail - hotelavlabar</li>
</ul>
</div>
    <div class="C">
<p>© 2025 |  Hotel Avlabari  |  All Right Reserved</p>
    </div>
</footer>