<!-- English -->
 @if (lang == 0){
<section>
 <div class="about">
    <p>To book a room or for more detailed information, contact us anytime via WhatsApp, Viber, or Telegram at +995 593747277 we’re quick to respond!
Or book directly through 
<a href="https://www.booking.com/hotel/ge/avlabari-tbilisi.en-gb.html?label=en-ge-booking-desktop-yQpPBuPmCYPIRLKRzinajgS652796015694%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9198181%3Ali%3Adec%3Adm&gclid=Cj0KCQjwoZbBBhDCARIsAOqMEZWVr76Ql6s4KaT04Zy5cSLF3iIls0CokMyvsIZjcmY3XS0O1yahvOsaAkbVEALw_wcB&aid=2311236&ucfs=1&arphpl=1&checkin=2025-06-24&checkout=2025-06-25"
target="_blank"><i class="fa-solid fa-link"></i> Booking.Com</a> for instant confirmation.</p>
 </div>
</section>
<app-location></app-location>
 }
 <!-- ------ -->
  <!-- Georgian -->
@if (lang == 1){
    <section>
 <div class="about">
    <p>ოთახის დასაჯავშნად ან დამატებითი ინფორმაციისთვის, დაგვიკავშირდით ნებისმიერ დროს WhatsApp-ით, Viber-ით ან Telegram-ით ნომრებზე: +995 593 747 277 / +995 556 248 009 — სწრაფად გპასუხობთ!
ასევე შეგიძლიათ დაჯავშნოთ პირდაპირ 
<a href="https://www.booking.com/hotel/ge/avlabari-tbilisi.en-gb.html?label=en-ge-booking-desktop-yQpPBuPmCYPIRLKRzinajgS652796015694%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9198181%3Ali%3Adec%3Adm&gclid=Cj0KCQjwoZbBBhDCARIsAOqMEZWVr76Ql6s4KaT04Zy5cSLF3iIls0CokMyvsIZjcmY3XS0O1yahvOsaAkbVEALw_wcB&aid=2311236&ucfs=1&arphpl=1&checkin=2025-06-24&checkout=2025-06-25"
target="_blank"><i class="fa-solid fa-link"></i> Booking.Com</a></p>
 </div>
</section>
<app-location></app-location>
}
<!-- ------ -->
 <!-- Russian -->
@if (lang == 2){
       <section>
 <div class="about">
    <p>Для бронирования номера или получения дополнительной информации свяжитесь с нами в любое время через WhatsApp,
Viber или Telegram по номера: +995 556 248 009 — мы быстро отвечаем!
Или бронируйте напрямую через
<a href="https://www.booking.com/hotel/ge/avlabari-tbilisi.en-gb.html?label=en-ge-booking-desktop-yQpPBuPmCYPIRLKRzinajgS652796015694%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-65526620%3Alp9198181%3Ali%3Adec%3Adm&gclid=Cj0KCQjwoZbBBhDCARIsAOqMEZWVr76Ql6s4KaT04Zy5cSLF3iIls0CokMyvsIZjcmY3XS0O1yahvOsaAkbVEALw_wcB&aid=2311236&ucfs=1&arphpl=1&checkin=2025-06-24&checkout=2025-06-25"
target="_blank"><i class="fa-solid fa-link"></i> Booking.Com</a> с мгновенным подтверждением.</p>
 </div>
</section>
<app-location></app-location>
}