@if (lang == 0) {
<h3 id="loc">An ideal location — right in the heart of Old Tbilisi</h3>
}
@if (lang == 1){
<h3 id="loc">An ideal location — right in the heart of Old Tbilisi</h3>
}
@if (lang == 2) {
  <h3 id="loc">Идеальное расположение — в самом сердце Старого Тбилиси</h3>
}
<div class="map-wrapper">
 <iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1191.5012375779456!2d44.8141386!3d41.6946141!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40440cfb879ff827%3A0xa16a0115f8d2ed96!2sHotel%20Avlabari!5e0!3m2!1sen!2sge!4v1715772000000!5m2!1sen!2sge"
  width="100%"
  height="400"
  style="border:0;"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade">
</iframe>
</div>
