<!-- English -->
 @if (lang == 0) {
<section>
    <div class="divCard">
        <img src="Kitchen-01.jpg" alt="">
        <p>Hotel Avlabari is a cozy, family-run guesthouse designed to make you feel at home. On the lower ground floor,
             you'll find a fully equipped shared kitchen where you're welcome to prepare or heat up simple meals, just like you would at home.
              The kitchen includes all the essentials—plates, cups, cutlery, and a microwave.
            You'll also find complimentary coffee, tea, and sugar available for your use. All of this is included in the standard room rate.
        </p>
    </div>
    <div class="divCard">
        <p>We also offer an optional breakfast for an additional 20 GEL per adult. To reserve breakfast,
             please contact us in advance with your request and complete the payment for one day—either in advance or on-site by 9:00 PM the night before.


        </p>
        <img src="Kitchen-02.jpg" alt="">
    </div>
    <div class="divCard">
        <img src="Breakfast.JPG" alt="">
        <p>Our breakfast(From 08:00 To 10:00) offers a rich selection of dishes to start your day right. 
            Enjoy fried eggs, assorted sausages, a variety of dairy products
             (including cottage cheese, cheese, and butter), fruit preserves, fresh fruits, pastries, and
              traditional baked goods such as khachapuri, lobiani, and meat-filled pancakes.
            While this is our standard breakfast menu, we’re happy to accommodate substitutions based on your preferences.</p>
    </div>
</section>
 }
 <!-- ------ -->
  <!-- Georgian -->
 @if (lang == 1 ) {
    <section>
    <div class="divCard">
        <img src="Kitchen-01.jpg" alt="">
        <p>სასტუმრო „ავლაბარი“ არის მყუდრო, საოჯახო ტიპის სასტუმრო,
             რომელიც შექმნილია იმისთვის, რომ თავი იგრძნოთ როგორც საკუთარ სახლში.
              -1 სართულზე მდებარეობს სრულად აღჭურვილი საერთო სამზარეულო, სადაც შეგიძლიათ მოამზადოთ ან გააცხელოთ მარტივი კერძები,
               ზუსტად ისე, როგორც სახლში. სამზარეულოში დაგხვდებათ ყველა საჭირო ინვენტარი — თეფშები, ჭიქები, დანაჩანგალი და მიკროტალღური ღუმელი.
                ასევე, უფასოდ ხელმისაწვდომია ყავა, ჩაი და შაქარი. ეს ყველაფერი შედის სტანდარტული ნომრის ღირებულებაში.
        </p>
    </div>
    <div class="divCard">
        <p>ასევე გთავაზობთ სურვილისამებრ საუზმეს, რომლის ღირებულება დამატებით შეადგენს 20 ლარს თითო ადამიანზე. საუზმის დაჯავშნისთვის გთხოვთ,
        წინასწარ დაგვიკავშირდეთ და მოგიწევთ გადაიხადოთ ერთი დღის ღირებულება წინასწარ, ან ადგილზე მოითხოვოთ ადგილზე ღამის 9 საათამდე
        </p>
        <img src="Kitchen-02.jpg" alt="">
    </div>
    <div class="divCard">
        <img src="Breakfast.JPG" alt="">
        <p>ჩვენი საუზმე (08:00-დან 10:00-მდე) გთავაზობთ მრავალფეროვან მენიუს, რომ დღე სწორად დაიწყოთ.
დააგემოვნეთ შემწვარი კვერცხი, სხვადასხვა სახის ძეხვეული, რძის პროდუქტები (ხაჭო, ყველი, კარაქი), ჯემი,ხილი,
ორცხობილები და ტრადიციული ცომეული, როგორიცაა ხაჭაპური, ლობიანი და ხორციანი ბლინები.
ეს არის ჩვენი სტანდარტული საუზმის მენიუ, თუმცა სიამოვნებით გავითვალისწინებთ თქვენივე სურვილებს და შეძლებისდაგვარად
შევცვლით ცალკეულ პროდუქტებს საჭიროების შემთხვევაში.</p>
    </div>
</section>
 }
 <!-- ----- -->
  <!-- Russian -->
@if (lang == 2){
      <section>
    <div class="divCard">
        <img src="Kitchen-01.jpg" alt="">
        <p>Отель «Авлабари» — это уютный семейный гостевой дом, созданный для того, чтобы вы чувствовали себя как дома.
             На цокольном этаже находится полностью оборудованная общая кухня, где вы можете приготовить или разогреть простые блюда, как у себя дома.
            На кухне есть всё необходимое: тарелки, чашки, столовые приборы и микроволновая печь.
             Также к вашему распоряжению — бесплатный кофе, чай и сахар. Всё это включено в стоимость стандартного номера.
    </div>
    <div class="divCard">
        <p>Также мы предлагаем завтрак за дополнительную плату — 20 лари с человека.
             Чтобы заказать завтрак, пожалуйста, свяжитесь с нами заранее и произведите оплату за один день — заранее или на месте, не позднее 21:00 предыдущего дня.
        </p>
        <img src="Kitchen-02.jpg" alt="">
    </div>
    <div class="divCard">
        <img src="Breakfast.JPG" alt="">
        <p>
Наш завтрак (с 08:00 до 10:00) предлагает разнообразные блюда, чтобы вы начали день с удовольствием.
Наслаждайтесь жареными яйцами, различными колбасами, молочными продуктами (включая творог, сыр и масло),
джемами, свежими фруктами, выпечкой и традиционными блюдами, такими как хачапури, лобиани и блинчики с мясом.
Это стандартное меню завтрака, но мы с радостью учтём ваши пожелания и заменим отдельные продукты по запросу.
</p>
    </div>
</section>
}