<section>
    <div class="divCard">
        <img src="Kitchen-01.jpg" alt="">
        <p>Hotel Avlabari is a cozy, family-run guesthouse designed to make you feel at home. On the lower ground floor,
             you'll find a fully equipped shared kitchen where you're welcome to prepare or heat up simple meals, just like you would at home.
              The kitchen includes all the essentials—plates, cups, cutlery, and a microwave.
            You'll also find complimentary coffee, tea, and sugar available for your use. All of this is included in the standard room rate.
        </p>
    </div>
    <div class="divCard">
        <p>We also offer an optional breakfast for an additional 20 GEL per adult. To reserve breakfast,
             please contact us in advance with your request and complete the payment for one day—either in advance or on-site by 9:00 PM the night before.


        </p>
        <img src="Kitchen-02.jpg" alt="">
    </div>
    <div class="divCard">
        <img src="Breakfast.JPG" alt="">
        <p>Our breakfast offers a rich selection of dishes to start your day right. 
            Enjoy fried eggs, assorted sausages, a variety of dairy products
             (including cottage cheese, cheese, and butter), fruit preserves, fresh fruits, pastries, and
              traditional baked goods such as khachapuri, lobiani, and meat-filled pancakes.
            While this is our standard breakfast menu, we’re happy to accommodate substitutions based on your preferences.</p>
    </div>
</section>