<nav>
    <div class="Logo">
        <img src="ლოგო ფონით.jpg" alt="">
    </div>
    <ul class="list">
        <li routerLink="/">Home</li>
        <li routerLink="/Rooms">Rooms</li>
        <li routerLink="/Kitchen">Kitchen</li>
        <li routerLink="/About">About</li>
    </ul>
      <div class="burger-container">
  <div class="burger-icon" (click)="toggleMenu()">
    <i class="fa-solid fa-bars"></i>
  </div>
  <ul class="menu" [class.open]="isMenuOpen">
    <li (click)="Close()" routerLink="/">Home</li>
    <li (click)="Close()" routerLink="/Rooms">Rooms</li>
    <li (click)="Close()" routerLink="/Kitchen">Kitchen</li>
    <li (click)="Close()" routerLink="/About">About</li>
    
  </ul>
</div>
</nav>