
<!-- English -->
 @if (lang == 0 ) {
<header class="mt-5">
    <div class="container mt-5">
        <div class="header-text">
            <h1>Suggested Rooms</h1>
        </div>
    </div><p id="View" routerLink="/Rooms">View All Room <i class="fa-solid fa-arrow-up-right-dots"></i></p>
</header>

<section>    
@for (item of room; track $index) {
    <div class="mainDiv">
        <div class="cardDiv">
        <img id="cardimg" [src]="item.image[0]" alt="">
    </div>
    <div class="txt">
        <h3>{{item.name}}</h3>
        <p>{{item.price}}GEL</p>
    </div>
    <div class="button">
        <button (click)="OpenModal(item)">See Room Details</button>
    </div></div>
}

@if (selectedRoom) {
    <div class="modal-overlay" (click)="CloseModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <span id="X" (click)="CloseModal()">❌</span>
        <div class="modalImg">
    <img [src]="selectedRoom.image[currentImgIndex]" alt="{{ selectedRoom.name }}"/>
    <span>{{Index}} / {{imgLen}} <i (click)="nextImage()" class="fa-solid fa-arrow-right"> </i></span>
    <button routerLink="/About" id="booking">Booking Information</button>
</div>
<div class="modalInfo">
    <p class="DancingF">{{selectedRoom.name}}</p>
    <p id="ds" class="barlow-semi-condensed-regular">{{selectedRoom.description}}</p>
    <div class="amenitis">
        <div class="amenitiCard">
            <i class="fa-solid fa-wifi"></i>
            <p>Free Wifi</p>
        </div>
        <div class="amenitiCard">
            <p><i class="fa-solid fa-tv"></i></p>
            <p>Flat-Screen TV</p>
        </div>
        <div class="amenitiCard">
            <i class="fa-solid fa-snowflake"></i>
            <p>Air Conditioning</p>
        </div>
        <div class="amenitiCard">
            <i class="fa-solid fa-shower"></i>
            <p>Rain Shower</p>
        </div>
        <div class="amenitiCard">
            <i class="fa-solid fa-fire-flame-simple"></i>
            <p>Heating</p>
        </div>
         <div class="amenitiCard">
            <i class="fa-solid fa-pump-soap"></i>
            <p>Free Toiletries</p>
        </div>
    </div>
 </div></div></div>
}
</section>
 }
<!-- ---- -->
@if (lang == 1){
    <header class="mt-5">
    <div class="container mt-5">
        <div class="header-text">
            <h1>შემოთავაზებული ოთახები</h1>
        </div>
    </div><p id="View" routerLink="/Rooms">ყველა ოთახის ნახვა <i class="fa-solid fa-arrow-up-right-dots"></i></p>
</header>

<section>    
@for (item of room; track $index) {
    <div class="mainDiv">
        <div class="cardDiv">
        <img id="cardimg" [src]="item.image[0]" alt="">
    </div>
    <div class="txt">
        <h3>{{item.name}}</h3>
        <p>{{item.price}}ლარი</p>
    </div>
    <div class="button">
        <button (click)="OpenModal(item)">ნახე ოთახის დეტალები</button>
    </div></div>
}

@if (selectedRoom) {
    <div class="modal-overlay" (click)="CloseModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <span id="X" (click)="CloseModal()">❌</span>
        <div class="modalImg">
    <img [src]="selectedRoom.image[currentImgIndex]" alt="{{ selectedRoom.name }}"/>
    <span>{{Index}} / {{imgLen}} <i (click)="nextImage()" class="fa-solid fa-arrow-right"> </i></span>
    <button routerLink="/About" id="booking">დაჯავშნის დეტალები</button>
</div>
<div class="modalInfo">
    <p class="DancingF">{{selectedRoom.name}}</p>
    <p id="ds" class="barlow-semi-condensed-regular">{{selectedRoom.descriptionGeo}}</p>
    <div class="amenitis">
        <div class="amenitiCard">
            <i class="fa-solid fa-wifi"></i>
            <p>უფასო Wi-Fi</p>
        </div>
        <div class="amenitiCard">
            <p><i class="fa-solid fa-tv"></i></p>
            <p>TV</p>
        </div>
        <div class="amenitiCard">
            <i class="fa-solid fa-snowflake"></i>
            <p>კონდიციონერი</p>
        </div>
        <div class="amenitiCard">
            <i class="fa-solid fa-shower"></i>
            <p>შხაპი</p>
        </div>
        <div class="amenitiCard">
            <i class="fa-solid fa-fire-flame-simple"></i>
            <p>გათბობა</p>
        </div>
         <div class="amenitiCard">
            <i class="fa-solid fa-pump-soap"></i>
            <p>ჰიგიენის ნივთები</p>
        </div>
    </div>
 </div></div></div>
}
</section>
}
<!-- -------- -->

<!-- Russian -->

@if (lang == 2) {
     <header class="mt-5">
    <div class="container mt-5">
        <div class="header-text">
            <h1>Предлагаемые номера</h1>
        </div>
    </div><p id="View" routerLink="/Rooms">Посмотреть всю комнату <i class="fa-solid fa-arrow-up-right-dots"></i></p>
</header>

<section>    
@for (item of room; track $index) {
    <div class="mainDiv">
        <div class="cardDiv">
        <img id="cardimg" [src]="item.image[0]" alt="">
    </div>
    <div class="txt">
        <h3>{{item.name}}</h3>
        <p>{{item.price}}Лари</p>
    </div>
    <div class="button">
        <button (click)="OpenModal(item)">посмотреть детали номера</button>
    </div></div>
}

@if (selectedRoom) {
    <div class="modal-overlay" (click)="CloseModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <span id="X" (click)="CloseModal()">❌</span>
        <div class="modalImg">
    <img [src]="selectedRoom.image[currentImgIndex]" alt="{{ selectedRoom.name }}"/>
    <span>{{Index}} / {{imgLen}} <i (click)="nextImage()" class="fa-solid fa-arrow-right"> </i></span>
    <button routerLink="/About" id="booking">детали бронирования</button>
</div>
<div class="modalInfo">
    <p class="DancingF">{{selectedRoom.name}}</p>
    <p id="ds"class="barlow-semi-condensed-regular">{{selectedRoom.descriptionR}}</p>
    <div class="amenitis">
        <div class="amenitiCard">
            <i class="fa-solid fa-wifi"></i>
            <p>бесплатный Wi-Fi</p>
        </div>
        <div class="amenitiCard">
            <p><i class="fa-solid fa-tv"></i></p>
            <p>TV</p>
        </div>
        <div class="amenitiCard">
            <i class="fa-solid fa-snowflake"></i>
            <p>кондиционер</p>
        </div>
        <div class="amenitiCard">
            <i class="fa-solid fa-shower"></i>
            <p>Душ</p>
        </div>
        <div class="amenitiCard">
            <i class="fa-solid fa-fire-flame-simple"></i>
            <p>Обогрев</p>
        </div>
         <div class="amenitiCard">
            <i class="fa-solid fa-pump-soap"></i>
            <p>Средства гигиены</p>
        </div>
    </div>
 </div></div></div>
}
</section>
}